page-market {

    ion-content{
        background-color: map-get($colors, fb);
    }

    .price-down {
        color: #ff4d4d;
      }
    
      .price-up {
        color: #5faf5f;
      }
    
      .price-no-change {
        color: black;
      }
    
      .symbol {
        font-weight: bold;
      }
    
      .duration {
        font-weight: bold;
      }

      #topp{
          text-align: center;
          font-size: 15px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
}
