page-home {

    ion-item-sliding {
        margin-top: 10px;
    }
 
    .holding {
 
        background-color: #f9f9f9;
        text-transform: uppercase;
 
        .amount {
            font-size: 0.7em;
        }
 
    }
 
    .value {
        color: map-get($colors, secondary);
    }

    .total {
        color: map-get($colors, fb);
    }

    .message{
        margin-top: 90px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .mainElement{
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        margin: 5px;
        padding: 2px;
        background-color: map-get($colors, light);
    }
    
}
