<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Crptrack
      </ion-title>      
    </ion-navbar>
  </ion-header>


<ion-content>
  <ion-fab right bottom [navPush]="addPage">
    <button ion-fab color="primary"><ion-icon name="add-circle"></ion-icon></button>
  </ion-fab>

  <div class="message" *ngIf="!holdingsProvider.holdings.length">
      <p>You seem not to have any coin added. No hassle.</p>
      <p>No account required, just hit the button below to start tracking your coins.</p>
 
      <button ion-button full [navPush]="addPage" color="primary">Add Coins</button>
  </div>

  <ion-refresher *ngIf="holdingsProvider.holdings.length" (ionRefresh)="refreshPrices($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines>
 
      <ion-item-sliding *ngFor="let holding of holdingsProvider.holdings">
        <ion-item class="mainElement">
            <ion-row>
              <ion-col col-2>
                <img src="{{imageHelper.getCoinImage(holding.crypto)}}" height="32" width="32">
              </ion-col>
              <ion-col col-6 class='vertical-center'>
                <div>
                  <span class='bold'>{{ holding.crypto }}</span> /
                  <span>{{ holding.currency }}</span>
                </div>
              </ion-col>
              <ion-col col-4 class='vertical-center value'>
                <span class='bold'> Amount: {{ holding.amount }}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-2>
                
              </ion-col>
              <ion-col col-6 class='vertical-center'>
                <div>
                    <span>Value: ${{holding.value | number: '1.2-2'}}</span>
                </div>
              </ion-col>
              <ion-col col-4 class='vertical-center total'>
                <span class='bold' *ngIf="holding.value > 0"> Total: ${{ holding.amount * holding.value | number:'1.2-2'}}</span>
              </ion-col>
            </ion-row>
        </ion-item>

        <ion-item-options>
          <button ion-button icon-only color="danger" (click)="holdingsProvider.removeHolding(holding)"><ion-icon name="trash"></ion-icon></button>
        </ion-item-options>

      </ion-item-sliding>

  </ion-list>

</ion-content>
