page-home {

    ion-item-sliding {
        margin-top: 10px;
    }
 
    .holding {
 
        background-color: #f9f9f9;
        text-transform: uppercase;
 
        .amount {
            font-size: 0.7em;
        }
 
    }
 
    .value {
        margin-top: 10px;
        font-size: 1.2em;
        color: map-get($colors, secondary);
    }

    .message{
        margin-top: 90px;
    }
    
}
