
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add Coins</ion-title>
  </ion-navbar>
</ion-header>
   
   
<ion-content padding>
  
    <div class="message">  
        <p><strong>Note:</strong> Listed prices are estimated. Rates may vary significantly across different exchanges.</p>
    </div>
  
  
    <ion-list>
  
        <ion-item>
            <ion-label stacked>Crypto Code</ion-label>
            <ion-input [(ngModel)]="cryptoCode" placeholder="(e.g. BTC, LTC, ETH)" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label stacked>Display Currency Code</ion-label>
            <ion-input [(ngModel)]="displayCurrency" placeholder="(USD)" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label stacked>Amount Holding</ion-label>
            <ion-input [(ngModel)]="amountHolding" type="number"></ion-input>
        </ion-item>
  
    </ion-list>  
  
    <button ion-button full (click)="addHolding()" [disabled]="checkingValidity">Add Holding <ion-spinner *ngIf="checkingValidity"></ion-spinner></button>
  
    <p class="error-message" *ngIf="cryptoUnavailable">Sorry, that combination is not currently available. Make sure to only include a single code.</p>
  
</ion-content>
