page-share {
    .titl{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #acon{
        text-align: justify;
        font-size: 20px;
        line-height: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
    }

    #help{
        font-size: 20px;
        font-weight: 300;
    }
}
